html,
body{
  margin: 0;
  border: 0;
  background-image: url("ground.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.intro {
  height:10px ;
}

#btn-add {
  border-radius: 4px;
  height: 35px;
  width: 20%;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #222831;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(11, 59, 43, 0.2)
}

#btn-add:active,
#btn-add:focus {
  background-color: #fff;
  color: #E69C00;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

#btn-add:hover {
  background-color: #E69C00;
  color: #E69C00;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

table td,
table th {
  text-overflow:inherit;
  white-space:normal;
  overflow:visible;
  text-align: center;
}


.texto{
  font-family: "Open Sans", sans-serif;
  color: #222831;
  text-align: center;

}

.card {
  position: fixed;
  top: 10%;
  left: 55%;
  transform: translateX(-50%);
  height: 80%;
  border-radius: 10px;
  width: 70%;
  background-color: #ffffffef;
  color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.3s;
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}


@media (max-width: 1170px) {
  .card{
    width: 60%;
  }
}


@media (max-width: 1000px) {
  .card{
    left: 60%;
  }
}


@media (max-width: 790px) {
  .card{
    left: 65%;
  }
}
