html,
body{
  margin: 0;
  border: 0;
  background-image: url("../img/ground.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.intro {
  height:10px ;
}

#btn-add {
  border-radius: 4px;
  height: 35px;
  width: 20%;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #222831;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(11, 59, 43, 0.2);
  position:relative;
  left:80%;
  margin-bottom:20px;
}

#btn-add:active,
#btn-add:focus {
  background-color: #fff;
  color: #E69C00;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

#btn-add:hover {
  background-color: #E69C00;
  color: #E69C00;
  box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

table td,
table th {
  text-overflow:inherit;
  white-space:initial;
  overflow:visible;
  text-align: center;
}

.table-responsive{
  height: 100%;
}

.texto{
  font-family: "Open Sans", sans-serif;
  color: #222831;
  text-align: center;

}

.card {
  position: fixed;
  top: 10%;
  left: 55%;
  transform: translateX(-50%);
  height: 80%;
  border-radius: 10px;
  width: 70%;
  background-color: #ffffffef;
  color: #000000;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.3s;
}
#modal-btn{
  border-radius: 4px;
  height: 48px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #E69C00;
  color: #fff;
  box-shadow: 0 8px 24px 0 rgba(11, 59, 43, 0.2);
}

#modal-btn:active,
#modal-btn:focus {
    background-color: #fff;
    color: #E69C00;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

#modal-btn:hover {
    background-color: #fff;
    color: #E69C00;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

.modal-content {
  background-color: #2a2b38;
  color: #fff;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding-bottom: 0;
}

.modal-footer {
  border-top: none;
}


.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  font-weight:light;
}

.form-group input{
  border-radius: 4px;
  background-color: #f8f9fa;
  padding: 10px 15px;
  width: 100%;
  border: 1px solid #E69C00;
  box-shadow: 30px 0 0  #E69C00;
  box-sizing: border-box;
  transition: 0.3s;
}

.form-group input:focus {
  border: #E69C00;
}

.center-form {
  margin-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  height: 100%;
}



@media (max-width: 1170px) {
  .card{
    width: 60%;
  }
}


@media (max-width: 1000px) {
  .card{
    left: 60%;
  }
}


@media (max-width: 790px) {
  .card{
    left: 65%;
  }
}
